<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        block styles
    
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(class=(path === '/' ? "active" : undefined) href="/") Shop
                    li.main-header__item
                        a(class=(path === '/admin/add-product' ? 'active' : undefined) href="/admin/add-product")  Add Product
                    li.main-header__item
                        a(class=(path === '/products' ? 'active' : undefined) href="/products") Products
                    li.main-header__item
                        a(class=(path === '/cart' ? 'active' : undefined) href="/cart") Cart
                    li.main-header__item
                        a(class=(path === '/admin/products' ? 'active' : undefined) href="/admin/products") Admin Products
                    li.main-header__item
                        a(class=(path === '/orders' ? 'active': undefined) href="/orders") Orders
        block content
