extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/main.css")



block content
    main
        if prods.length > 0
            .grid
                each product in prods
                   ul
                    li #{product.productId.title} (#{product.quantity})
                    form.form-control(action="/cart/delete-item" method="POST")
                        input(type="hidden" name="id" value=product.productId._id)
                        button.btn(type="submit") Delete item
            hr
            .centered
                form(action="/createOrder" method="POST")
                    button.btn(type="submit") Order now!
            h3 Total Price: £#{totalPrice}              
        else
            h1 No products in cart